[Desktop Entry]
Categories=Network;Email;
Comment=GNU Emacs is an extensible, customizable text editor - and more
Exec=emacsclient -c -a "emacs" -e '(message-mailto "%u")'
Icon=emacs
Name=Emacs (Mail / Client)
MimeType=x-scheme-handler/mailto;
NoDisplay=true
Terminal=false
Type=Application
