---
- name: Action changeme placeholder for {{ role_name }}
  become: false
  ansible.builtin.command:
    cmd: /usr/bin/fortune
  when: {{ role_name }}_changeme_fortune
  register: {{ role_name }}_changeme_result

- name: Display changeme placeholder for {{ role_name }}
  ansible.builtin.debug:
    var: {{ role_name }}_changeme_result
  when: {{ role_name }}_changeme_result.changed
