Ansible Collection - {{ namespace }}.{{ collection_name }}
=========

A brief description of the collection goes here.

Roles included in this collection:

- `{{ namespace }}.{{ collection_name }}.changeme` ([documentation](changeme))

Modules included in this collection:

- `{{ namespace }}.{{ collection_name }}.changeme` ([documentation](changeme))

Plugins included in this collection:

- `{{ namespace }}.{{ collection_name }}.changeme` ([documentation](changeme))

Supported Operating Systems
------------

- **RPM-based**:
  - Fedora
  - CentOS Stream

- **Deb-based**:
  - Debian

Requirements
------------

Any pre-requisites that may not be covered by Ansible itself or the role should be mentioned here. For instance, if the role uses the EC2 module, it may be a good idea to mention in this section that the boto package is required.

Installation
--------------

A description of the settable variables for this role should go here, including any variables that are in defaults/main.yml, vars/main.yml, and any variables that can/should be set via parameters to the role. Any variables that are read from other roles and/or the global scope (ie. hostvars, group vars, etc.) should be mentioned here as well.

Usage
--------------

A description of the settable variables for this role should go here, including any variables that are in defaults/main.yml, vars/main.yml, and any variables that can/should be set via parameters to the role. Any variables that are read from other roles and/or the global scope (ie. hostvars, group vars, etc.) should be mentioned here as well.

Example Playbook
----------------

Including an example of how to use your role (for instance, with variables passed in as parameters) is always nice for users too:

```
- hosts: servers
  roles:
     - { role: username.rolename, x: 42 }
```

Dependencies
------------

A list of other roles hosted on Galaxy should go here, plus any details in regards to parameters that may need to be set for other roles, or variables that are used from other roles.

License
-------

GPL-3.0

Author Information
------------------

Vinícius Moraes ([ttybitnik](https://github.com/ttybitnik))
