# Ansible Collection - `{{ namespace }}.{{ collection_name }}`

A brief description of the collection goes here.

## Roles included in this collection

| Role                                             | Description                 | URL                            |
|--------------------------------------------------|-----------------------------|--------------------------------|
| `{{ namespace }}.{{ collection_name }}.changeme` | Lorem ipsum dolor sit amet. | [documentation][role_changeme] |

---
[role_changeme]: https://github.com/ttybitnik/ansible.collection.{{ collection_name }}/blob/master/roles/changeme/README.md

## Modules included in this collection

| Module                                           | Description                 | URL                              |
|--------------------------------------------------|-----------------------------|----------------------------------|
| `{{ namespace }}.{{ collection_name }}.changeme` | Lorem ipsum dolor sit amet. | [documentation][module_changeme] |

---
[module_changeme]: https://github.com/ttybitnik/ansible.collection.{{ collection_name }}/blob/master/plugins/modules/changeme/README.md

## Plugins included in this collection

| Plugin                                           | Description                 | URL                              |
|--------------------------------------------------|-----------------------------|----------------------------------|
| `{{ namespace }}.{{ collection_name }}.changeme` | Lorem ipsum dolor sit amet. | [documentation][plugin_changeme] |

---
[plugin_changeme]: https://github.com/ttybitnik/ansible.collection.{{ collection_name }}/blob/master/plugins/changeme/changeme/README.md

## Supported operating systems

- **RPM-based**:
  - Fedora
  - CentOS Stream

- **Deb-based**:
  - Debian

## Requirements
<!-- Any pre-requisites that may not be covered by Ansible itself or the role should be mentioned here. For instance, if the role uses the EC2 module, it may be a good idea to mention in this section that the boto package is required. -->

None

## Installation

### Using `ansible-galaxy`:

```
ansible-galaxy collection install ttybitnik.{{ collection_name }}
```

### Using `requirements.yaml`:

```
---
collections:
  - name: ttybitnik.{{ collection_name }}
```

## Example playbook
<!-- Including an example of how to use your collection (for instance, with variables passed in as parameters) is always nice for users too: -->

```
- hosts: all
  roles:
     - role: ttybitnik.{{ collection_name }}.role_name
       vars:
         role_name_subgroup_x: 42
```

## Dependencies
<!-- A list of other roles hosted on Galaxy should go here, plus any details in regards to parameters that may need to be set for other roles, or variables that are used from other roles. -->

None

## License

GPL-3.0

## Author information

Vinícius Moraes ([ttybitnik](https://github.com/ttybitnik))
