[Unit]
Description=GNU Emacs daemon
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=notify
# Environment variables are listed here as a fallback
# documentation. They are imported via `systemctl --user
# import-environment` in `.bash_profile` and Sway config.
EnvironmentFile=%h/.config/systemd/envs/emacs-daemon.env
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --suppress-output --eval "(progn (setq confirm-kill-processes nil) (save-buffers-kill-emacs t))"
TimeoutStartSec=180
RestartSec=10s
StartLimitInterval=60s
StartLimitBurst=3
Restart=on-failure

[Install]
WantedBy=sway-session.target
