[Unit]
Description=Gammastep display temperature according to time of day
Documentation=man:gammastep(1)

[Service]
Type=simple
# Environment variables are listed here as a fallback
# documentation. They are imported via `systemctl --user
# import-environment` in `.bash_profile` and Sway config.
EnvironmentFile=%h/.config/systemd/envs/gammastep.env
ExecStart=/usr/bin/gammastep -l $TTY_GEO
ExecStop=/usr/bin/pkill gammastep
RestartSec=10s
StartLimitInterval=60s
StartLimitBurst=3
Restart=on-failure

[Install]
WantedBy=sway.target
