[Unit]
Description=Hermes refresh info and MOTD

[Service]
Type=oneshot
RemainAfterExit=true
# Environment variables are listed here as a fallback
# documentation. They are imported via `systemctl --user
# import-environment` in `.bash_profile` and Sway config.
EnvironmentFile=%h/.config/systemd/envs/hermes.env
ExecStop=%h/.local/bin/hermes
StandardOutput=truncate:%h/.config/hermes/motd.log

[Install]
WantedBy=default.target
