[Unit]
Description=Hermes refresh info and MOTD

[Service]
Type=oneshot
RemainAfterExit=true
Environment="CUSTOM_HERMES=%h/.orpheus/projects/dotfiles/tty/.config/hermes/motd.log"
ExecStop=%h/.orpheus/projects/dotfiles/tty/.local/bin/hermes
StandardOutput=truncate:%h/.orpheus/projects/dotfiles/tty/.config/hermes/motd.log

[Install]
WantedBy=default.target
