[Unit]
Description=Restic backup action
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/envs/restic.env
ExecStart=systemd-inhibit --what=shutdown:sleep --who="%p" --why="Operation of %n in progress" %h/.local/bin/cronbkp -b %i
