[Unit]
Description=Restic check read action
Before=restic-prune@%i.service
After=gpg-agent.socket graphical-session.target restic-backup@%i.service restic-prune@%i.service
Requisite=gpg-agent.socket

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/envs/restic.env
ExecStartPre=%h/.local/bin/systemd_ensure_agent
ExecStart=systemd-inhibit --what=shutdown:sleep --who="%p" --why="Operation of %n in progress" %h/.local/bin/cronbkp -C %i
