[Unit]
Description=Restic check action
Before=restic-prune@%i.service
After=default.target restic-backup@%i.service restic-prune@%i.service
Requires=default.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/envs/restic.env
ExecStart=systemd-inhibit --what=shutdown:sleep --who="%p" --why="Operation of %n in progress" %h/.local/bin/cronbkp -c %i
