[Unit]
Description=Monthly check read for restic remote repository

[Timer]
OnCalendar=*-*-11 19:00:00
# RandomizedDelaySec=1h
Persistent=true
Unit=restic-check-read@remote.service

[Install]
WantedBy=timers.target
