# Deprecated in favour of systemd standard targets
[Unit]
Description=Custom target for main user
Documentation=man:systemd.special

[Install]
WantedBy=sway-session.target
