[Unit]
Description=Switcher theme mode next session

[Service]
Type=oneshot
RemainAfterExit=true
Environment="TTY_DOTFILES=%h/.orpheus/projects/dotfiles"
ExecStart=${TTY_DOTFILES}/tty/.local/bin/switcher_helper

[Install]
WantedBy=default.target
