[Unit]
Description=Switcher theme mode next session

[Service]
Type=oneshot
RemainAfterExit=true
Environment="TTY_DOTFILES=%h/Remote/orpheus/projects/dotfiles"
Environment="CUSTOM_SWITCHER=%h/Remote/orpheus/projects/dotfiles/.switcher_state"
ExecStart=%h/Remote/orpheus/projects/dotfiles/tty/.local/bin/switcher_helper

[Install]
WantedBy=default.target
