# Ansible Role - `changeme.{{ role_name }}`

<!-- An imperative and brief description of the role. -->

<!-- This role (enables, provides) ... -->

## Supported operating systems

- **RPM-based**:
  - Fedora
  - CentOS Stream

- **Deb-based**:
  - Debian

## Requirements
<!-- Any pre-requisites that may not be covered by Ansible itself or the role should be mentioned here. For instance, if the role uses the EC2 module, it may be a good idea to mention in this section that the boto package is required. -->

None

## Installation

### Using `ansible-galaxy`:

```
ansible-galaxy collection install ttybitnik.changeme
```

### Using `requirements.yaml`:

```
---
collections:
  - name: ttybitnik.changeme
```

## Role variables
<!-- A description of the settable variables for this role should go here, including any variables that are in defaults/main.yml, vars/main.yml, and any variables that can/should be set via parameters to the role. Any variables that are read from other roles and/or the global scope (ie. hostvars, group vars, etc.) should be mentioned here as well. -->

<!-- Predefined lists are located in the `vars` directory. -->

### Subgroup changeme variables

| Variable                            | Type     | Default | Description                 |
|-------------------------------------|----------|---------|-----------------------------|
| `{{ role_name }}_subgroup_changeme` | boolean  | `true`  | Whether to do stuff.        |
| `{{ role_name }}_subgroup_changeme` | sequence | `[]`    | List of things to do stuff. |


## Example playbook
<!-- Including an example of how to use your role (for instance, with variables passed in as parameters) is always nice for users too: -->

```
- hosts: all
  roles:
     - role: ttybitnik.collection_name.{{ role_name }}
       vars:
         {{ role_name }}_subgroup_x: 42
```

## Dependencies
<!-- A list of other roles hosted on Galaxy should go here, plus any details in regards to parameters that may need to be set for other roles, or variables that are used from other roles. -->

None

## License

GPL-3.0

## Author information

Vinícius Moraes ([ttybitnik](https://github.com/ttybitnik))
