---
# For descriptions and examples, refer to the documentation.

{{ role_name }}_subgroup_changeme: true
{{ role_name }}_subgroup_changeme: false

{{ role_name }}_subgroup_changeme: []
{{ role_name }}_subgroup_changeme: false
