---
# For descriptions and examples, refer to the documentation.

{{ role_name }}.subgroup.changeme: true
{{ role_name }}.subgroup.changeme: false

{{ role_name }}.subgroup.changeme: []
{{ role_name }}.subgroup.changeme: false
