galaxy_info:
  role_name: {{ role_name }}
  author: Vinícius Moraes <vinicius.moraes@eternodevir.com>
  description: {{ description }}
  # company: {{ company }}
  # issue_tracker_url: {{ issue_tracker_url }}
  license: GPL-3.0-or-later
  min_ansible_version: "{{ min_ansible_version }}"
  # min_ansible_container_version:
  platforms:
    - name: Fedora
      versions:
        - all
    - name: EL
      versions:
        - all
    - name: Debian
      versions:
        - all

  galaxy_tags:
    - changeme

dependencies: []
{% for dependency in dependencies %}
  #- {{ dependency }}
{%- endfor %}
